3.2/mobile/lab11/lab11/task3/flows3.json
[
	{
		"id": "330313a4530cf874",
		"type": "tab",
		"label": "Flow 1",
		"disabled": false,
		"info": "",
		"env": []
	},
	{
		"id": "0183482h430193",
		"type": "tab",
		"label": "Sence HAT",
		"disabled": false,
		"info": "",
		"env": []
	},
	{
		"id": "91a522cdc754a820",
		"type": "tab",
		"label": "Mean and STD",
		"disabled": false,
		"info": "",
		"env": []
	},
	{
		"id": "de1c55928871f97c",
		"type": "tab",
		"label": "Time Interval",
		"disabled": false,
		"info": "",
		"env": []
	},
	{
		"id": "c60ca7f3d37b44db",
		"type": "tab",
		"label": "Basic Statistics",
		"disabled": false,
		"info": "",
		"env": []
	},
	{
		"id": "58ab824f0a8029e9",
		"type": "tab",
		"label": "Store Aggregated Data",
		"disabled": false,
		"info": "",
		"env": []
	},
	{
		"id": "e66b3bb40de129ed",
		"type": "tab",
		"label": "InfluxDB test",
		"disabled": false,
		"info": "",
		"env": []
	},
	{
		"id": "ef54221e4205b802",
		"type": "ui_base",
		"theme": {
			"name": "theme-light",
			"lightTheme": {
				"default": "#0094CE",
				"baseColor": "#0094CE",
				"baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
				"edited": true,
				"reset": false
			},
			"darkTheme": {
				"default": "#097479",
				"baseColor": "#097479",
				"baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
				"edited": false
			},
			"customTheme": {
				"name": "Untitled Theme 1",
				"default": "#4B7930",
				"baseColor": "#4B7930",
				"baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
			},
			"themeState": {
				"base-color": {
					"default": "#0094CE",
					"value": "#0094CE",
					"edited": false
				},
				"page-titlebar-backgroundColor": {
					"value": "#0094CE",
					"edited": false
				},
				"page-backgroundColor": {
					"value": "#fafafa",
					"edited": false
				},
				"page-sidebar-backgroundColor": {
					"value": "#ffffff",
					"edited": false
				},
				"group-textColor": {
					"value": "#1bbfff",
					"edited": false
				},
				"group-borderColor": {
					"value": "#ffffff",
					"edited": false
				},
				"group-backgroundColor": {
					"value": "#ffffff",
					"edited": false
				},
				"widget-textColor": {
					"value": "#111111",
					"edited": false
				},
				"widget-backgroundColor": {
					"value": "#0094ce",
					"edited": false
				},
				"widget-borderColor": {
					"value": "#ffffff",
					"edited": false
				},
				"base-font": {
					"value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
				}
			},
			"angularTheme": {
				"primary": "indigo",
				"accents": "blue",
				"warn": "red",
				"background": "grey",
				"palette": "light"
			}
		},
		"site": {
			"name": "Node-RED Dashboard",
			"hideToolbar": "false",
			"allowSwipe": "false",
			"lockMenu": "false",
			"allowTempTheme": "true",
			"dateFormat": "DD/MM/YYYY",
			"sizes": {
				"sx": 48,
				"sy": 48,
				"gx": 6,
				"gy": 6,
				"cx": 6,
				"cy": 6,
				"px": 0,
				"py": 0
			}
		}
	},
	{
		"id": "843e4ce8c4ed0c48",
		"type": "ui_tab",
		"name": "Digital Clock",
		"icon": "dashboard",
		"order": 1,
		"disabled": false,
		"hidden": false
	},
	{
		"id": "09bd88eb08bf8765",
		"type": "ui_group",
		"name": "Clock",
		"tab": "843e4ce8c4ed0c48",
		"order": 1,
		"disp": true,
		"width": 6,
		"collapse": false,
		"className": ""
	},
	{
		"id": "afa8a5caf5a68ca2",
		"type": "ui_spacer",
		"z": "330313a4530cf874",
		"name": "spacer",
		"group": "09bd88eb08bf8765",
		"order": 2,
		"width": 1,
		"height": 1
	},
	{
		"id": "c49bc4ee6899db26",
		"type": "ui_tab",
		"name": "Tab 2",
		"icon": "dashboard",
		"order": 2
	},
	{
		"id": "e33a1f6e04e4b634",
		"type": "ui_group",
		"name": "Temperature",
		"tab": "c49bc4ee6899db26",
		"order": 1,
		"disp": true,
		"width": "8",
		"collapse": false,
		"className": ""
	},
	{
		"id": "15c271e03783621c",
		"type": "ui_group",
		"name": "Humidity",
		"tab": "c49bc4ee6899db26",
		"order": 2,
		"disp": true,
		"width": "8",
		"collapse": false,
		"className": ""
	},
	{
		"id": "7aa9696081c20878",
		"type": "ui_group",
		"name": "Pressure",
		"tab": "c49bc4ee6899db26",
		"order": 3,
		"disp": true,
		"width": "8",
		"collapse": false,
		"className": ""
	},
	{
		"id": "42308741c9a78b2a",
		"type": "ui_tab",
		"name": "Statistics",
		"icon": "dashboard",
		"order": 3,
		"disabled": false,
		"hidden": false
	},
	{
		"id": "369e55a377fa4150",
		"type": "ui_group",
		"name": "Statistics Graph",
		"tab": "42308741c9a78b2a",
		"order": 1,
		"disp": true,
		"width": "24",
		"collapse": false,
		"className": ""
	},
	{
		"id": "40df68b4a06aa601",
		"type": "json-db-collection",
		"name": "temperature",
		"collection": "instant-temperature",
		"save": true
	},
	{
		"id": "9aeee1d3436e5beb",
		"type": "influxdb",
		"hostname": "127.0.0.1",
		"port": 8086,
		"protocol": "http",
		"database": "environment",
		"name": "Environment Database",
		"usetls": false,
		"tls": "",
		"influxdbVersion": "1.x",
		"url": "http://localhost:8086",
		"timeout": 10,
		"rejectUnauthorized": true
	},
	{
		"id": "2ce33f2221231e17",
		"type": "inject",
		"z": "330313a4530cf874",
		"name": "",
		"props": [
			{
				"p": "payload"
			},
			{
				"p": "topic",
				"vt": "str"
			}
		],
		"repeat": "1",
		"crontab": "",
		"once": true,
		"onceDelay": 0.1,
		"topic": "",
		"payload": "",
		"payloadType": "date",
		"x": 110,
		"y": 280,
		"wires": [["4bc7560957e46151", "0cfe513de55815df", "87a249155205ec62"]]
	},
	{
		"id": "4bc7560957e46151",
		"type": "debug",
		"z": "330313a4530cf874",
		"name": "UNIX time",
		"active": false,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "payload",
		"targetType": "msg",
		"statusVal": "",
		"statusType": "auto",
		"x": 650,
		"y": 180,
		"wires": []
	},
	{
		"id": "0cfe513de55815df",
		"type": "moment",
		"z": "330313a4530cf874",
		"name": "Date",
		"topic": "",
		"input": "",
		"inputType": "msg",
		"inTz": "ETC/GMT",
		"adjAmount": 0,
		"adjType": "days",
		"adjDir": "add",
		"format": "ddd Do MMM YYYY",
		"locale": "en-US",
		"output": "",
		"outputType": "msg",
		"outTz": "Europe/Minsk",
		"x": 330,
		"y": 360,
		"wires": [["b19df5c6f86e9257", "8df4322d3bfc0213"]]
	},
	{
		"id": "87a249155205ec62",
		"type": "moment",
		"z": "330313a4530cf874",
		"name": "Time",
		"topic": "",
		"input": "",
		"inputType": "msg",
		"inTz": "ETC/GTM",
		"adjAmount": 0,
		"adjType": "days",
		"adjDir": "add",
		"format": "HH:mm",
		"locale": "en-US",
		"output": "",
		"outputType": "msg",
		"outTz": "Europe/Minsk",
		"x": 330,
		"y": 520,
		"wires": [["acf04753d355ad99", "1ed2d9001ce97292"]]
	},
	{
		"id": "b19df5c6f86e9257",
		"type": "debug",
		"z": "330313a4530cf874",
		"name": "Date",
		"active": false,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "payload",
		"targetType": "msg",
		"statusVal": "",
		"statusType": "auto",
		"x": 630,
		"y": 360,
		"wires": []
	},
	{
		"id": "acf04753d355ad99",
		"type": "debug",
		"z": "330313a4530cf874",
		"name": "Time",
		"active": false,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "payload",
		"targetType": "msg",
		"statusVal": "",
		"statusType": "auto",
		"x": 630,
		"y": 520,
		"wires": []
	},
	{
		"id": "8df4322d3bfc0213",
		"type": "ui_text",
		"z": "330313a4530cf874",
		"group": "09bd88eb08bf8765",
		"order": 1,
		"width": 0,
		"height": 0,
		"name": "",
		"label": "Date",
		"format": "<font size=6>{{msg.payload}}",
		"layout": "col-center",
		"className": "",
		"style": false,
		"font": "",
		"fontSize": 16,
		"color": "#000000",
		"x": 630,
		"y": 420,
		"wires": []
	},
	{
		"id": "1ed2d9001ce97292",
		"type": "ui_text",
		"z": "330313a4530cf874",
		"group": "09bd88eb08bf8765",
		"order": 3,
		"width": 0,
		"height": 0,
		"name": "",
		"label": "Time",
		"format": "<font size=6>{{msg.payload}}",
		"layout": "col-center",
		"className": "",
		"style": false,
		"font": "",
		"fontSize": 16,
		"color": "#000000",
		"x": 630,
		"y": 560,
		"wires": []
	},
	{
		"id": "334eda578c48501d",
		"type": "inject",
		"z": "3305064345a48960",
		"name": "",
		"props": [
			{
				"p": "payload"
			},
			{
				"p": "topic",
				"vt": "str"
			}
		],
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"topic": "",
		"payload": "",
		"payloadType": "date",
		"x": 180,
		"y": 380,
		"wires": [["d428529cd63a95e7"]]
	},
	{
		"id": "d428529cd63a95e7",
		"type": "rpi-sensehatsim out",
		"z": "3305064345a48960",
		"name": "",
		"x": 460,
		"y": 380,
		"wires": []
	},
	{
		"id": "bbf29a44ba6afead",
		"type": "rpi-sensehatsim in",
		"z": "3305064345a48960",
		"name": "",
		"motion": false,
		"env": true,
		"stick": true,
		"x": 120,
		"y": 180,
		"wires": [["0f1587a5e347bea2", "1a80de9cd8c2ef79", "34635d0df2024beb", "767e8ec1813aa551", "e8d42686cd9c33e2"]]
	},
	{
		"id": "f73bcd224eecbccc",
		"type": "ui_gauge",
		"z": "3305064345a48960",
		"name": "",
		"group": "e33a1f6e04e4b634",
		"order": 1,
		"width": "0",
		"height": "0",
		"gtype": "gage",
		"title": "C",
		"label": "units",
		"format": "{{value}}",
		"min": 0,
		"max": "50",
		"colors": ["#00b500", "#e6e600", "#ca3838"],
		"seg1": "",
		"seg2": "",
		"diff": false,
		"className": "",
		"x": 650,
		"y": 80,
		"wires": []
	},
	{
		"id": "a0e973a6fd41cbb9",
		"type": "ui_chart",
		"z": "3305064345a48960",
		"name": "",
		"group": "e33a1f6e04e4b634",
		"order": 2,
		"width": "0",
		"height": "0",
		"label": "Temp",
		"chartType": "line",
		"legend": "false",
		"xformat": "HH:mm:ss",
		"interpolate": "step",
		"nodata": "",
		"dot": true,
		"ymin": "0",
		"ymax": "50",
		"removeOlder": "60",
		"removeOlderPoints": "100",
		"removeOlderUnit": "1",
		"cutout": 0,
		"useOneColor": false,
		"useUTC": false,
		"colors": ["#1f77b4", "#aec7e8", "#ff7f0e", "#2ca02c", "#98df8a", "#d62728", "#ff9896", "#9467bd", "#c5b0d5"],
		"outputs": 1,
		"useDifferentColor": false,
		"className": "",
		"x": 650,
		"y": 120,
		"wires": [[]]
	},
	{
		"id": "0f1587a5e347bea2",
		"type": "change",
		"z": "3305064345a48960",
		"name": "Temp",
		"rules": [
			{
				"t": "set",
				"p": "payload",
				"pt": "msg",
				"to": "payload.temperature",
				"tot": "msg"
			}
		],
		"action": "",
		"property": "",
		"from": "",
		"to": "",
		"reg": false,
		"x": 330,
		"y": 60,
		"wires": [["f73bcd224eecbccc", "a0e973a6fd41cbb9"]]
	},
	{
		"id": "1a80de9cd8c2ef79",
		"type": "change",
		"z": "3305064345a48960",
		"name": "Humidity",
		"rules": [
			{
				"t": "set",
				"p": "payload",
				"pt": "msg",
				"to": "payload.humidity",
				"tot": "msg"
			}
		],
		"action": "",
		"property": "",
		"from": "",
		"to": "",
		"reg": false,
		"x": 340,
		"y": 140,
		"wires": [["7821daef07160ed2", "4d1c6370d1c534af"]]
	},
	{
		"id": "34635d0df2024beb",
		"type": "change",
		"z": "3305064345a48960",
		"name": "Pressure",
		"rules": [
			{
				"t": "set",
				"p": "payload",
				"pt": "msg",
				"to": "payload.pressure",
				"tot": "msg"
			}
		],
		"action": "",
		"property": "",
		"from": "",
		"to": "",
		"reg": false,
		"x": 340,
		"y": 220,
		"wires": [["f632a447abc43682", "c01799dbd7bc72ef"]]
	},
	{
		"id": "7821daef07160ed2",
		"type": "ui_gauge",
		"z": "3305064345a48960",
		"name": "",
		"group": "15c271e03783621c",
		"order": 1,
		"width": "0",
		"height": "0",
		"gtype": "gage",
		"title": "%",
		"label": "units",
		"format": "{{value}}",
		"min": 0,
		"max": "100",
		"colors": ["#00b500", "#e6e600", "#ca3838"],
		"seg1": "",
		"seg2": "",
		"diff": false,
		"className": "",
		"x": 690,
		"y": 180,
		"wires": []
	},
	{
		"id": "f632a447abc43682",
		"type": "ui_gauge",
		"z": "3305064345a48960",
		"name": "",
		"group": "7aa9696081c20878",
		"order": 3,
		"width": "0",
		"height": "0",
		"gtype": "gage",
		"title": "mbar",
		"label": "units",
		"format": "{{value}}",
		"min": 0,
		"max": "1100",
		"colors": ["#00b500", "#e6e600", "#ca3838"],
		"seg1": "",
		"seg2": "",
		"diff": false,
		"className": "",
		"x": 690,
		"y": 300,
		"wires": []
	},
	{
		"id": "4d1c6370d1c534af",
		"type": "ui_chart",
		"z": "3305064345a48960",
		"name": "",
		"group": "15c271e03783621c",
		"order": 2,
		"width": "0",
		"height": "0",
		"label": "Humidity",
		"chartType": "line",
		"legend": "false",
		"xformat": "HH:mm:ss",
		"interpolate": "linear",
		"nodata": "",
		"dot": true,
		"ymin": "0",
		"ymax": "100",
		"removeOlder": "60",
		"removeOlderPoints": "100",
		"removeOlderUnit": "1",
		"cutout": 0,
		"useOneColor": false,
		"useUTC": false,
		"colors": ["#1f77b4", "#aec7e8", "#ff7f0e", "#2ca02c", "#98df8a", "#d62728", "#ff9896", "#9467bd", "#c5b0d5"],
		"outputs": 1,
		"useDifferentColor": false,
		"className": "",
		"x": 700,
		"y": 220,
		"wires": [[]]
	},
	{
		"id": "c01799dbd7bc72ef",
		"type": "ui_chart",
		"z": "3305064345a48960",
		"name": "",
		"group": "7aa9696081c20878",
		"order": 5,
		"width": "0",
		"height": "0",
		"label": "Pressure",
		"chartType": "line",
		"legend": "false",
		"xformat": "HH:mm:ss",
		"interpolate": "linear",
		"nodata": "",
		"dot": true,
		"ymin": "0",
		"ymax": "1100",
		"removeOlder": "60",
		"removeOlderPoints": "100",
		"removeOlderUnit": "1",
		"cutout": 0,
		"useOneColor": false,
		"useUTC": false,
		"colors": ["#1f77b4", "#aec7e8", "#ff7f0e", "#2ca02c", "#98df8a", "#d62728", "#ff9896", "#9467bd", "#c5b0d5"],
		"outputs": 1,
		"useDifferentColor": false,
		"className": "",
		"x": 700,
		"y": 340,
		"wires": [[]]
	},
	{
		"id": "767e8ec1813aa551",
		"type": "debug",
		"z": "3305064345a48960",
		"name": "debug 1",
		"active": false,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "false",
		"statusVal": "",
		"statusType": "auto",
		"x": 340,
		"y": 320,
		"wires": []
	},
	{
		"id": "e8d42686cd9c33e2",
		"type": "pusher out",
		"z": "3305064345a48960",
		"name": "Pusher",
		"channel": "chapter3",
		"cluster": "eu",
		"eventname": "test_event",
		"x": 360,
		"y": 280,
		"wires": []
	},
	{
		"id": "f3667bfb02cf764e",
		"type": "pusher in",
		"z": "3305064345a48960",
		"name": "",
		"channel": "chapter3",
		"cluster": "eu",
		"eventname": "test_event",
		"x": 150,
		"y": 500,
		"wires": [["e5250c9e7ef70194"]]
	},
	{
		"id": "e1bb475eaf97f6b9",
		"type": "debug",
		"z": "3305064345a48960",
		"name": "debug 2",
		"active": false,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "false",
		"statusVal": "",
		"statusType": "auto",
		"x": 600,
		"y": 480,
		"wires": []
	},
	{
		"id": "e5250c9e7ef70194",
		"type": "buffer-array",
		"z": "3305064345a48960",
		"name": "",
		"bufferLen": "10",
		"startWhenFilled": false,
		"x": 350,
		"y": 580,
		"wires": [["e1bb475eaf97f6b9", "8e8676f11cf23a55", "41ce3596c7d63110"]]
	},
	{
		"id": "8e8676f11cf23a55",
		"type": "debug",
		"z": "3305064345a48960",
		"name": "debug 3",
		"active": false,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "payload[0].temperature",
		"targetType": "msg",
		"statusVal": "",
		"statusType": "auto",
		"x": 600,
		"y": 560,
		"wires": []
	},
	{
		"id": "41ce3596c7d63110",
		"type": "debug",
		"z": "3305064345a48960",
		"name": "debug 4",
		"active": false,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "payload[9].temperature",
		"targetType": "msg",
		"statusVal": "",
		"statusType": "auto",
		"x": 600,
		"y": 620,
		"wires": []
	},
	{
		"id": "3b933cec20fe6493",
		"type": "pusher in",
		"z": "91a522cdc754a820",
		"name": "",
		"channel": "chapter3",
		"cluster": "eu",
		"eventname": "test_event",
		"x": 190,
		"y": 240,
		"wires": [["735c0daa6f2195d6"]]
	},
	{
		"id": "735c0daa6f2195d6",
		"type": "change",
		"z": "91a522cdc754a820",
		"name": "",
		"rules": [
			{
				"t": "set",
				"p": "payload",
				"pt": "msg",
				"to": "payload.temperature",
				"tot": "msg"
			}
		],
		"action": "",
		"property": "",
		"from": "",
		"to": "",
		"reg": false,
		"x": 380,
		"y": 260,
		"wires": [["947bdf097f23d3b1"]]
	},
	{
		"id": "947bdf097f23d3b1",
		"type": "buffer-array",
		"z": "91a522cdc754a820",
		"name": "",
		"bufferLen": "10",
		"startWhenFilled": false,
		"x": 610,
		"y": 260,
		"wires": [["2a622a3403c44092", "9259e6060ad5d271"]]
	},
	{
		"id": "2a622a3403c44092",
		"type": "function",
		"z": "91a522cdc754a820",
		"name": "mean",
		"func": "msg.topic=\"mean\";\nreturn msg;",
		"outputs": 1,
		"timeout": 0,
		"noerr": 0,
		"initialize": "",
		"finalize": "",
		"libs": [],
		"x": 450,
		"y": 520,
		"wires": [["722c13bededcff1b"]]
	},
	{
		"id": "9259e6060ad5d271",
		"type": "function",
		"z": "91a522cdc754a820",
		"name": "Standard deviation",
		"func": "msg.topic=\"standardDeviation\";\nreturn msg;",
		"outputs": 1,
		"timeout": 0,
		"noerr": 0,
		"initialize": "",
		"finalize": "",
		"libs": [],
		"x": 290,
		"y": 580,
		"wires": [["870ce45656cfad04"]]
	},
	{
		"id": "722c13bededcff1b",
		"type": "statistics",
		"z": "91a522cdc754a820",
		"name": "",
		"dataSetSize": "10",
		"inputField": "payload",
		"inputFieldType": "msg",
		"resultField": "payload",
		"resultFieldType": "msg",
		"parameterField": "",
		"parameterFieldType": "msg",
		"stripFunction": false,
		"resultOnly": true,
		"x": 600,
		"y": 520,
		"wires": [["9dded21279b62226"]]
	},
	{
		"id": "870ce45656cfad04",
		"type": "statistics",
		"z": "91a522cdc754a820",
		"name": "",
		"dataSetSize": "10",
		"inputField": "payload",
		"inputFieldType": "msg",
		"resultField": "payload",
		"resultFieldType": "msg",
		"parameterField": "",
		"parameterFieldType": "msg",
		"stripFunction": false,
		"resultOnly": true,
		"x": 560,
		"y": 580,
		"wires": [["552232a114f70fc3"]]
	},
	{
		"id": "9dded21279b62226",
		"type": "debug",
		"z": "91a522cdc754a820",
		"name": "AVG Temp (last 10)",
		"active": false,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "payload",
		"targetType": "msg",
		"statusVal": "",
		"statusType": "auto",
		"x": 810,
		"y": 520,
		"wires": []
	},
	{
		"id": "552232a114f70fc3",
		"type": "debug",
		"z": "91a522cdc754a820",
		"name": "STD (last 10)",
		"active": false,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "payload",
		"targetType": "msg",
		"statusVal": "",
		"statusType": "auto",
		"x": 750,
		"y": 580,
		"wires": []
	},
	{
		"id": "35e33c34727a7463",
		"type": "pusher in",
		"z": "de1c55928871f97c",
		"name": "",
		"channel": "chapter3",
		"cluster": "eu",
		"eventname": "test_event",
		"x": 250,
		"y": 240,
		"wires": [["bc76cde0f4fd1e76"]]
	},
	{
		"id": "bc76cde0f4fd1e76",
		"type": "interval-length",
		"z": "de1c55928871f97c",
		"format": "mills",
		"bytopic": false,
		"minimum": "",
		"maximum": "",
		"window": "",
		"timeout": false,
		"msgTimeout": "",
		"minimumunit": "msecs",
		"maximumunit": "msecs",
		"windowunit": "msecs",
		"msgTimeoutUnit": "msecs",
		"reset": false,
		"startup": false,
		"msgField": "payload",
		"timestampField": "timestamp",
		"repeatTimeout": false,
		"name": "",
		"x": 440,
		"y": 240,
		"wires": [["99bf10935493d6a8"], []]
	},
	{
		"id": "99bf10935493d6a8",
		"type": "debug",
		"z": "de1c55928871f97c",
		"name": "Time Interval in ms",
		"active": false,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "payload",
		"targetType": "msg",
		"statusVal": "",
		"statusType": "auto",
		"x": 710,
		"y": 240,
		"wires": []
	},
	{
		"id": "7628a6d8a94cb12b",
		"type": "pusher in",
		"z": "c60ca7f3d37b44db",
		"name": "",
		"channel": "chapter3",
		"cluster": "eu",
		"eventname": "test_event",
		"x": 90,
		"y": 300,
		"wires": [["baa4623979561145", "719c6aec345c9fb3", "0ede3022189124c6"]]
	},
	{
		"id": "e895efdd78e460d4",
		"type": "debug",
		"z": "c60ca7f3d37b44db",
		"name": "last 10 records",
		"active": false,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "payload",
		"targetType": "msg",
		"statusVal": "",
		"statusType": "auto",
		"x": 560,
		"y": 280,
		"wires": []
	},
	{
		"id": "baa4623979561145",
		"type": "buffer-array",
		"z": "c60ca7f3d37b44db",
		"name": "",
		"bufferLen": "10",
		"startWhenFilled": false,
		"x": 310,
		"y": 340,
		"wires": [["e895efdd78e460d4", "c3b4b5446742f230", "b89aac6d3748f375"]]
	},
	{
		"id": "c3b4b5446742f230",
		"type": "debug",
		"z": "c60ca7f3d37b44db",
		"name": "latest record",
		"active": false,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "payload[0].temperature",
		"targetType": "msg",
		"statusVal": "",
		"statusType": "auto",
		"x": 550,
		"y": 360,
		"wires": []
	},
	{
		"id": "b89aac6d3748f375",
		"type": "debug",
		"z": "c60ca7f3d37b44db",
		"name": "most recent record",
		"active": false,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "payload[9].temperature",
		"targetType": "msg",
		"statusVal": "",
		"statusType": "auto",
		"x": 570,
		"y": 420,
		"wires": []
	},
	{
		"id": "719c6aec345c9fb3",
		"type": "interval-length",
		"z": "c60ca7f3d37b44db",
		"format": "mills",
		"bytopic": false,
		"minimum": "",
		"maximum": "",
		"window": "",
		"timeout": false,
		"msgTimeout": "",
		"minimumunit": "msecs",
		"maximumunit": "msecs",
		"windowunit": "msecs",
		"msgTimeoutUnit": "msecs",
		"reset": false,
		"startup": false,
		"msgField": "payload",
		"timestampField": "timestamp",
		"repeatTimeout": false,
		"name": "",
		"x": 320,
		"y": 180,
		"wires": [["022269d093581cd6"], []]
	},
	{
		"id": "022269d093581cd6",
		"type": "debug",
		"z": "c60ca7f3d37b44db",
		"name": "Time Interval in ms",
		"active": false,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "payload",
		"targetType": "msg",
		"statusVal": "",
		"statusType": "auto",
		"x": 610,
		"y": 120,
		"wires": []
	},
	{
		"id": "0ede3022189124c6",
		"type": "change",
		"z": "c60ca7f3d37b44db",
		"name": "Temperature",
		"rules": [
			{
				"t": "set",
				"p": "payload",
				"pt": "msg",
				"to": "payload.temperature",
				"tot": "msg"
			}
		],
		"action": "",
		"property": "",
		"from": "",
		"to": "",
		"reg": false,
		"x": 350,
		"y": 480,
		"wires": [["6571048cb02a35e0", "cc304b5aa855d0a4", "a184a3dc3493373e"]]
	},
	{
		"id": "6571048cb02a35e0",
		"type": "buffer-array",
		"z": "c60ca7f3d37b44db",
		"name": "",
		"bufferLen": "10",
		"startWhenFilled": false,
		"x": 590,
		"y": 480,
		"wires": [["03fc1178162b0cb3", "3d3b0d1dc474edad"]]
	},
	{
		"id": "03fc1178162b0cb3",
		"type": "function",
		"z": "c60ca7f3d37b44db",
		"name": "mean",
		"func": "msg.topic=\"mean\";\nreturn msg;",
		"outputs": 1,
		"timeout": 0,
		"noerr": 0,
		"initialize": "",
		"finalize": "",
		"libs": [],
		"x": 430,
		"y": 740,
		"wires": [["329054178a99fa88"]]
	},
	{
		"id": "3d3b0d1dc474edad",
		"type": "function",
		"z": "c60ca7f3d37b44db",
		"name": "Standard deviation",
		"func": "msg.topic=\"standardDeviation\";\nreturn msg;",
		"outputs": 1,
		"timeout": 0,
		"noerr": 0,
		"initialize": "",
		"finalize": "",
		"libs": [],
		"x": 270,
		"y": 800,
		"wires": [["ea30be061ca4ea44"]]
	},
	{
		"id": "329054178a99fa88",
		"type": "statistics",
		"z": "c60ca7f3d37b44db",
		"name": "",
		"dataSetSize": "10",
		"inputField": "payload",
		"inputFieldType": "msg",
		"resultField": "payload",
		"resultFieldType": "msg",
		"parameterField": "",
		"parameterFieldType": "msg",
		"stripFunction": false,
		"resultOnly": true,
		"x": 580,
		"y": 740,
		"wires": [["e11b8716bfb848a4", "6e1998a3c11ccdf3", "4b5c49acc328058b"]]
	},
	{
		"id": "ea30be061ca4ea44",
		"type": "statistics",
		"z": "c60ca7f3d37b44db",
		"name": "",
		"dataSetSize": "10",
		"inputField": "payload",
		"inputFieldType": "msg",
		"resultField": "payload",
		"resultFieldType": "msg",
		"parameterField": "",
		"parameterFieldType": "msg",
		"stripFunction": false,
		"resultOnly": true,
		"x": 540,
		"y": 800,
		"wires": [["65e274593ba79c85", "7f9340db646a9954"]]
	},
	{
		"id": "e11b8716bfb848a4",
		"type": "debug",
		"z": "c60ca7f3d37b44db",
		"name": "AVG Temp (last 10)",
		"active": false,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "payload",
		"targetType": "msg",
		"statusVal": "",
		"statusType": "auto",
		"x": 790,
		"y": 840,
		"wires": []
	},
	{
		"id": "65e274593ba79c85",
		"type": "debug",
		"z": "c60ca7f3d37b44db",
		"name": "STD (last 10)",
		"active": false,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "payload",
		"targetType": "msg",
		"statusVal": "",
		"statusType": "auto",
		"x": 750,
		"y": 940,
		"wires": []
	},
	{
		"id": "cc304b5aa855d0a4",
		"type": "function",
		"z": "c60ca7f3d37b44db",
		"name": "Instant temperature",
		"func": "var msg1 = {payload: msg.payload, topic: 'Instant read'};\nreturn [msg1];",
		"outputs": 1,
		"timeout": 0,
		"noerr": 0,
		"initialize": "",
		"finalize": "",
		"libs": [],
		"x": 870,
		"y": 520,
		"wires": [["7424d2948ade41e9"]]
	},
	{
		"id": "6e1998a3c11ccdf3",
		"type": "function",
		"z": "c60ca7f3d37b44db",
		"name": "mean",
		"func": "var msg2 = {payload: msg.payload, topic: 'Average over last 10 reads'}\nreturn [msg2];",
		"outputs": 1,
		"timeout": 0,
		"noerr": 0,
		"initialize": "",
		"finalize": "",
		"libs": [],
		"x": 830,
		"y": 560,
		"wires": [["7424d2948ade41e9"]]
	},
	{
		"id": "7f9340db646a9954",
		"type": "function",
		"z": "c60ca7f3d37b44db",
		"name": "STD",
		"func": "var msg3 = {payload: msg.payload, topic: 'Standard deviation over last 10 reads'}\nreturn [msg3];",
		"outputs": 1,
		"timeout": 0,
		"noerr": 0,
		"initialize": "",
		"finalize": "",
		"libs": [],
		"x": 830,
		"y": 620,
		"wires": [["7424d2948ade41e9"]]
	},
	{
		"id": "7424d2948ade41e9",
		"type": "ui_chart",
		"z": "c60ca7f3d37b44db",
		"name": "",
		"group": "369e55a377fa4150",
		"order": 0,
		"width": 0,
		"height": 0,
		"label": "chart",
		"chartType": "line",
		"legend": "false",
		"xformat": "HH:mm:ss",
		"interpolate": "linear",
		"nodata": "",
		"dot": false,
		"ymin": "",
		"ymax": "",
		"removeOlder": 1,
		"removeOlderPoints": "",
		"removeOlderUnit": "3600",
		"cutout": 0,
		"useOneColor": false,
		"useUTC": false,
		"colors": ["#1f77b4", "#aec7e8", "#ff7f0e", "#2ca02c", "#98df8a", "#d62728", "#ff9896", "#9467bd", "#c5b0d5"],
		"outputs": 1,
		"useDifferentColor": false,
		"className": "",
		"x": 1050,
		"y": 560,
		"wires": [[]]
	},
	{
		"id": "a184a3dc3493373e",
		"type": "link out",
		"z": "c60ca7f3d37b44db",
		"name": "Store",
		"mode": "link",
		"links": ["7814e324d5d29af8"],
		"x": 605,
		"y": 640,
		"wires": []
	},
	{
		"id": "4b5c49acc328058b",
		"type": "link out",
		"z": "c60ca7f3d37b44db",
		"name": "statisticsAvg",
		"mode": "link",
		"links": ["85f2516bfa2cb3ba"],
		"x": 835,
		"y": 740,
		"wires": []
	},
	{
		"id": "7814e324d5d29af8",
		"type": "link in",
		"z": "58ab824f0a8029e9",
		"name": "link in 1",
		"links": ["a184a3dc3493373e"],
		"x": 145,
		"y": 180,
		"wires": [["322658a3497347af", "d3be099f64cde7d5"]]
	},
	{
		"id": "322658a3497347af",
		"type": "throttle",
		"z": "58ab824f0a8029e9",
		"name": "",
		"throttleType": "time",
		"timeLimit": "10",
		"timeLimitType": "seconds",
		"countLimit": 0,
		"blockSize": 0,
		"locked": false,
		"x": 330,
		"y": 180,
		"wires": [["41e25275e0c43ed8"]]
	},
	{
		"id": "41e25275e0c43ed8",
		"type": "function",
		"z": "58ab824f0a8029e9",
		"name": "Format and add timestamp",
		"func": "const timestamp = new Date()\nmsg.payload = [{\n    timestamp: timestamp.toString(),\n    temperature: msg.payload\n}]\nreturn msg;",
		"outputs": 1,
		"timeout": 0,
		"noerr": 0,
		"initialize": "",
		"finalize": "",
		"libs": [],
		"x": 580,
		"y": 180,
		"wires": [["8e448796a7cfab87", "d98cec6c46b35513"]]
	},
	{
		"id": "d98cec6c46b35513",
		"type": "debug",
		"z": "58ab824f0a8029e9",
		"name": "Saved Data",
		"active": false,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "payload",
		"targetType": "msg",
		"statusVal": "",
		"statusType": "auto",
		"x": 890,
		"y": 280,
		"wires": []
	},
	{
		"id": "8e448796a7cfab87",
		"type": "DataIn",
		"z": "58ab824f0a8029e9",
		"collection": "40df68b4a06aa601",
		"name": "Instant Temperature",
		"update": true,
		"path": "/temperature",
		"x": 920,
		"y": 180,
		"wires": []
	},
	{
		"id": "d3be099f64cde7d5",
		"type": "throttle",
		"z": "58ab824f0a8029e9",
		"name": "",
		"throttleType": "time",
		"timeLimit": "10",
		"timeLimitType": "seconds",
		"countLimit": 0,
		"blockSize": 0,
		"locked": false,
		"x": 270,
		"y": 380,
		"wires": [["91660715557f3a7d"]]
	},
	{
		"id": "91660715557f3a7d",
		"type": "function",
		"z": "58ab824f0a8029e9",
		"name": "Insert Data Points",
		"func": "msg.payload = {location:\"HANGAR\", room: \"Warehouse\",\ntemperature: msg.payload}\nreturn msg;",
		"outputs": 1,
		"timeout": 0,
		"noerr": 0,
		"initialize": "",
		"finalize": "",
		"libs": [],
		"x": 510,
		"y": 380,
		"wires": [["72c4e4d6d2c0ba01", "786ecea9eb02cdcb"]]
	},
	{
		"id": "72c4e4d6d2c0ba01",
		"type": "influxdb out",
		"z": "58ab824f0a8029e9",
		"influxdb": "9aeee1d3436e5beb",
		"name": "",
		"measurement": "sence_hat",
		"precision": "",
		"retentionPolicy": "",
		"database": "database",
		"precisionV18FluxV20": "ms",
		"retentionPolicyV18Flux": "",
		"org": "organisation",
		"bucket": "bucket",
		"x": 920,
		"y": 380,
		"wires": []
	},
	{
		"id": "786ecea9eb02cdcb",
		"type": "debug",
		"z": "58ab824f0a8029e9",
		"name": "debug 7",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "false",
		"statusVal": "",
		"statusType": "auto",
		"x": 820,
		"y": 460,
		"wires": []
	},
	{
		"id": "85f2516bfa2cb3ba",
		"type": "link in",
		"z": "58ab824f0a8029e9",
		"name": "link in 2",
		"links": ["4b5c49acc328058b"],
		"x": 125,
		"y": 560,
		"wires": [["cf71cfecfbfd96e8"]]
	},
	{
		"id": "cf71cfecfbfd96e8",
		"type": "throttle",
		"z": "58ab824f0a8029e9",
		"name": "",
		"throttleType": "time",
		"timeLimit": "10",
		"timeLimitType": "seconds",
		"countLimit": 0,
		"blockSize": 0,
		"locked": false,
		"x": 290,
		"y": 560,
		"wires": [["69bda9bf52987531"]]
	},
	{
		"id": "69bda9bf52987531",
		"type": "function",
		"z": "58ab824f0a8029e9",
		"name": "Insert Data Points",
		"func": "msg.payload = {location:\"HANGAR\", room: \"Warehouse\",\ntemperature: msg.payload}\nreturn msg;",
		"outputs": 1,
		"timeout": 0,
		"noerr": 0,
		"initialize": "",
		"finalize": "",
		"libs": [],
		"x": 490,
		"y": 540,
		"wires": [["bee4bbc2094f36b0", "b7515ad9d3883bd2"]]
	},
	{
		"id": "bee4bbc2094f36b0",
		"type": "influxdb out",
		"z": "58ab824f0a8029e9",
		"influxdb": "9aeee1d3436e5beb",
		"name": "",
		"measurement": "sence_hat_avg",
		"precision": "",
		"retentionPolicy": "",
		"database": "database",
		"precisionV18FluxV20": "ms",
		"retentionPolicyV18Flux": "",
		"org": "organisation",
		"bucket": "bucket",
		"x": 910,
		"y": 540,
		"wires": []
	},
	{
		"id": "b7515ad9d3883bd2",
		"type": "debug",
		"z": "58ab824f0a8029e9",
		"name": "debug 8",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "false",
		"statusVal": "",
		"statusType": "auto",
		"x": 800,
		"y": 620,
		"wires": []
	},
	{
		"id": "a3ed5e2fc1afce38",
		"type": "influxdb in",
		"z": "e66b3bb40de129ed",
		"influxdb": "9aeee1d3436e5beb",
		"name": "Temperature SELECT query",
		"query": "SELECT * FROM temperatures",
		"rawOutput": false,
		"precision": "",
		"retentionPolicy": "",
		"org": "organisation",
		"x": 580,
		"y": 180,
		"wires": [["fa1cf9b349369528"]]
	},
	{
		"id": "d481caa7272ab7d4",
		"type": "inject",
		"z": "e66b3bb40de129ed",
		"name": "",
		"props": [
			{
				"p": "payload"
			},
			{
				"p": "topic",
				"vt": "str"
			}
		],
		"repeat": "",
		"crontab": "",
		"once": true,
		"onceDelay": 0.1,
		"topic": "",
		"payload": "",
		"payloadType": "date",
		"x": 150,
		"y": 160,
		"wires": [["a3ed5e2fc1afce38", "6c61538d88844967"]]
	},
	{
		"id": "fa1cf9b349369528",
		"type": "debug",
		"z": "e66b3bb40de129ed",
		"name": "debug 5",
		"active": false,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "false",
		"statusVal": "",
		"statusType": "auto",
		"x": 880,
		"y": 140,
		"wires": []
	},
	{
		"id": "d989c48ccee36e8c",
		"type": "influxdb out",
		"z": "e66b3bb40de129ed",
		"influxdb": "9aeee1d3436e5beb",
		"name": "",
		"measurement": "temperatures",
		"precision": "",
		"retentionPolicy": "",
		"database": "database",
		"precisionV18FluxV20": "ms",
		"retentionPolicyV18Flux": "",
		"org": "organisation",
		"bucket": "bucket",
		"x": 770,
		"y": 360,
		"wires": []
	},
	{
		"id": "6c61538d88844967",
		"type": "function",
		"z": "e66b3bb40de129ed",
		"name": "Insert Data points",
		"func": "msg.payload = {\n    location: \"HOME\",\n    room: \"KITCHEN\",\n    instant: 33,\n    average: 32.99\n}\nreturn msg;",
		"outputs": 1,
		"timeout": 0,
		"noerr": 0,
		"initialize": "",
		"finalize": "",
		"libs": [],
		"x": 390,
		"y": 380,
		"wires": [["d989c48ccee36e8c", "27d0852586c19406"]]
	},
	{
		"id": "27d0852586c19406",
		"type": "debug",
		"z": "e66b3bb40de129ed",
		"name": "debug 6",
		"active": true,
		"tosidebar": true,
		"console": false,
		"tostatus": false,
		"complete": "false",
		"statusVal": "",
		"statusType": "auto",
		"x": 660,
		"y": 460,
		"wires": []
	}
]
